
  .appointment-page-text-heading-column {
    max-width: 172px;
  }
  .appointment-page-text-heading {
    height: 29px;
    width: 179px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: -0.30000001192092896px;
    text-align: left;
    padding: 0px 0px 0px 0px;
  }

  .appointment-page-content-column {
    margin-top: 21px;
  }

  .appointment-page-text-unselected {
    cursor: pointer;
    height: 16px;
    width: 76px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(141, 141, 141, 1);
    padding: 0px 0px 0px 0px;
    margin-top: 50px;
  }

  .appointment-page-text-selected {
    cursor: pointer;
    height: 16px;
    width: 76px;
    color: rgba(40, 163, 218, 1);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: center;
    padding: 0px 0px 24px 0px;
    margin-top: 50px;
    border-bottom: 2px solid #28a3da;
  }

  .appointment-page-text-margin-left-41 {
    margin-left: 41px;
  }

  .appointment-page-cards-row {
    margin-top: 32px;
  }

  .appointment-page-location {
    margin-left: 990px;
    margin-top: 10px;
    height: 24px;
    width: 129px;
    padding: 0px 0px 24px 0px;
  }

  .appointment-page-map-pin-icon {
    height: 24px;
    width: 24px;
    padding: 0px 0px 0px 0px;
    margin-right: 8px;
  }

  .appointment-page-location-text {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: -0.420000284910202px;
    text-align: left;
    color: rgba(27, 27, 27, 1);
    padding: 0px 0px 0px 0px;
  }
