.carousel_image {
  height: 226px;
  width: 181px;
  margin-top: 26px;
}

.carousel_h3 {
  height: 39px;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: -1.0513381958007812px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.carousel_h5 {
  height: 28px;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 1);

  text-align: left;
}

.carousel_container {
  height: 252px ;
  width: 100% ;
  border-radius: 12px !important;
}

.react-multi-carousel-dot--active button {
  background: orange !important;
}

.react-multi-carousel-dot-list {
  padding-bottom: 16px;
}

.react-multiple-carousel__arrow---right {
  margin-top: 185px;
  background: transparent;
  right: 27px;
}
