.color_card_container_1 {
    height: 120px !important;
    width: 220px !important;
    border-radius: 12px !important;
    background: rgba(184, 80, 158, 0.2) !important;
  }
  
  .color_card_container_2 {
    height: 120px !important;
    width: 220px !important;
    border-radius: 12px !important;
    background: rgba(40, 163, 218, 0.2) !important;
  }
  
  .color_card_container_3 {
    height: 120px !important;
    width: 220px !important;
    border-radius: 12px !important;
    background: rgba(43, 200, 96, 0.4) !important;
  }
  
  .color_card_text_h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.5173913836479187px;
    padding-right: 25px;
  }
  
  .color_card_text_h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.3652174174785614px;
    padding-right: 25px;
  }
  
  .color_card_circle {
    width: 63px;
    height: 63px;
    border-radius: 50%;

    img {
        position: relative;
        top: 17px;
        left: 21px;
    }
  }

  .circle-card-icon {
      position: relative;
      top: 30px;
      left: 14px;
  }

  .circle-card-content {
      text-align: right;
      margin-top: 70px;
  }