.login-container {
  display: flex;
  flex-direction: row;
  color: #1B1B1B;

  p {
    font-size: 12px;
    font-weight: 400;
    line-height: 14.63px;
    color: rgba(27, 27, 27, 0.7);
    margin-bottom: 64px;
  }

  .button {
    width: 350px;
    background-color: #28A3DA !important;
    height: 50px;
  }

  .left-nav {
    background-color: #E6F4FA;
   }

   .doctor-image {
    img {
      margin-top: 45px;
      max-height : '300px';
     }
   }
  
   .text-container {
    color: #1B1B1B;
    padding-top: 175px;
    padding-left: 96px;
  
    h3, h1 {
      font-weight: 700;
    }
  
    p {
      max-width: 350px;
    }
  
    .description {
      display: flex;
       
      img {
        width: 50px;
        height: 50px;
        margin-right: 17px;
        margin-top: 5px;
      }

      .login-icon-side-txt {
        padding-left: 26px;
      }
    }
  }

  .logo {
    margin-top: 72px;
    margin-left: 54px;
  
    img {
      height: 55px;
    }
  }
  
  .description-small {
    margin-top: 16px;
    margin-bottom: 58px;
  }
  .dropdown-menu {
    min-width: 68px;
  }
  //remove arrows in input number
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.right-nav {
  padding-left: 30px !important;
  padding-top: 136px !important;

  

  h3 {
    font-weight: 400;
  }
} 

  @media only screen and (min-width: 1180px) {
    .right-nav {
      padding-left: 150px !important;
      padding-top: 136px !important;
     }
  }

  @media only screen and (min-width: 1300px) {
    .right-nav {
      padding-left: 180px !important;
      padding-top: 136px !important;
     }
  }

  @media only screen and (max-width: 768px) {
    .left-nav {
      display: none;
     }
  }

  @media only screen and (max-width: 992px) {
    .left-nav {
     display: none;
     }
  }

  @media only screen and (min-width: 992px) {
    .right-nav {
          padding-left: 180px !important;
    }
  }

  @media only screen and (min-width: 768px) {

     .right-nav {
      padding-left: 180px !important;
    }
  }

  @media only screen and (max-width: 480px) {
    .login-btn {
      width: 300px !important;
     }

     .right-nav {
      padding-top: 80px !important;
      .form-control {
        max-width: 230px !important;
      }
    }

     .logo {
        img {
          margin-left: 5px !important;
        }
    }
     
  }

  @media only screen and (max-width: 375px) {
     .logo {
      img {
        margin-left: 5px !important;
      }
    }
     
  }
  
  .main-container {
     img {
      max-width: 100%;
      max-height: 100vh;
      height: auto;
     }
  }

  .button {
    background-color: #28A3DA  !important;
  }


  // for 1440 x 900 Macbook
@media only screen and (max-width: 1444px) and (min-width: 1436px) {
  .login-container {
    .doctor-image {
      img {
        margin-top: -8px;
      }
    }
  }
}

// for 1366 x 768 Macbook
@media only screen and (max-width: 1370px) and (min-width: 1362px) {
  .login-container {
    .doctor-image {
      img {
        margin-top: -33px;
      }
    }
    .text-container {
      padding-top: 69px;
    }
    .right-nav {
      padding-top: 100px !important;
      padding-left: 130px !important;
    }
  }
}

.size-1x {
  display: none !important;
}

.filter-list-close {
  inset: unset !important;
}

div[role=navigation] {
  inset: 0px ;
}
.LoginPageDoctor{height: 100vh;}