.modal-header {
    background: #28A3DA;
}

.modal-title {
    margin: auto;
    color: white;
}

.modal-content {
    .card-text-close {
        width: 121px;
        height: 40px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: -0.42px;
        border: 1px solid #28A3DA;
        box-sizing: border-box;
        border-radius: 6px;
        background: white;
        color: #28A3DA;
      }

      button {
        width: 121px;
        height: 40px;
      }
}


