* {
    margin: 0;
    padding: 0;
  }
  
  .pdf-container {
    width: 100%;
    height: 750px;
    overflow-y: auto;
    display: flex;
    justify-content: center;
  }
  
  .error-msg {
    width: 100%;
    color: red;
    font-size: 14px;
    font-weight: 600;
  }

  .pdf-view {
    .report-card-button {
      left: unset !important;
      top: 50px !important;
      width: 200px !important;
      box-shadow: 4px 4px 35px 0px rgb(0 0 0 / 10%) !important;
      border-radius: 8px !important;
      margin-bottom: 50px !important;
    }
  }