.speciality-card-text {
    height: 17px;
    width: 72px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: -0.5775004029273987px;
    color: rgba(27, 27, 27, 1);
    margin: auto;
  }
  
  .speciality-card-container {
    height: 115px;
    width: 135px;
    box-shadow: 4px 4px 35px 0px rgba(0, 0, 0, 0.1) !important;
    border-radius: 12px !important;
    background: rgba(255, 255, 255, 1);
    // margin: auto;
    margin: 10px 6px !important;
  }
  
  .speciality-card-image {
    height: 28px;
    width: 28px;
    margin: 21px 19px 18px 45px;
  }