@media only screen and (min-width: 1500px) {
    .doctor-card-doctor-name {
        .card-image-video-camera {
            position: absolute;
            // right: -62px;
            left: 197px;
        }
    }
    .card-text-time {
        position: absolute;
        left: 104px;
    }

}