.FAQ_container {
  text-align: center;
  width: 85%;
}
.FAQ_accordion_content {
  text-align: left;
  margin: 2% 0% 2% 0%;
}
.FAQ_accordion_heading {
  color: #000;
}
.FAQ_accordion_container {
  margin: 5% 1.5% 0% 2%;
}
.FAQ_heading {
  margin-top: 2%;
}
.FAQ_text_block {
  margin-top: 2%;
}
.FAQ_text_block_content {
  padding: 0% 10% 0% 10%;
}
.FAQ_footer {
  margin-top: 10%;
}
.FAQ_accordion_margin {
  margin-top: 1%;
  margin-bottom: 1%;
}
.FAQ_accordion_space {
  margin-bottom: 3%;
}
.FAQ_accordion_width {
  width: 100%;
}
