body {
  .btn-primary{
    border-color: rgba(27, 27, 27, 0.2) !important;
  }
  .btn-primary:hover {
    border-color: #28A3DA;
  }
  .btn-primary:focus {
    box-shadow: unset;
    border: 2px solid #28A3DA;
  }
  .btn-primary:hover {
    opacity: 0.8;
  }
  .btn-loading{
    height: 50px;
    width: 350px;
    background-color: #e2e9e9!important;
  }
  .back-nav-container{
    display: flex;
    align-items: center;
    >img{
      height: 20px;
      width: 31px;
      cursor: pointer;
    }
    >span{
      margin-left:10px
    }
  }
  .back-nav-container-dr{
    display: flex;
    align-items: center;
    >img{
      height: 20px;
      width: 31px;
      cursor: pointer;
    }
    >span{
      margin-left:10px
    }
  }
}

@media screen and (max-width: 425px) {
  .back-nav-container-dr {
    display: flex;
    align-items: center;
    position: absolute;
    top: -12px;
    left: 120px;
  }
}

@media screen and (max-width: 375px) {
  .back-nav-container-dr {
    top: 16px;
    left: 80px;
  }
}
