body {
  .btn-primary{
    border-color: rgba(27, 27, 27, 0.2) !important;
  }
  .btn-primary:hover {
    border-color: #28A3DA;
  }
  .btn-primary:focus {
    box-shadow: unset;
    border: 2px solid #28A3DA;
  }
  .btn-primary:hover {
    opacity: 0.8;
  }
}
