/**
 Common styles
 */
.grey {
  color: rgba(27, 27, 27, 0.5);
}

.space-10 {
  margin-left: 10px;
}

.empty-list-container {
  height: 300px;
  text-align-last: center;
  padding-top: 40px;
  h4{
    color: #686868;
  }
}

/**
 styles for doctor dashbaord
 */
.welcome-text-container {
  display: flex;
  flex-direction: row;
  flex: 1;

  .text-welcome-header {
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: -0.420000284910202px;
    text-align: left;
    color: rgba(27, 27, 27, 0.6);
    margin-right: 8px;
  }

  .text-welcome-subheader {
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: -0.420000284910202px;
    text-align: left;
    color: #1B1B1B;
  }
}


.upcoming-appointment-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 24px;

  .upcoming-appointment-text {
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.420000284910202px;
    text-align: left;
    color: #1B1B1B;

  }

  .upcoming-appointment-view_all {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.30000001192092896px;
    text-align: right;
  }

}


.patient-appointment-container {
  cursor: pointer;
  margin-bottom: 10%;
  display: flex;
  width: 100%;
  max-width: 400px;
  max-height: 154px;
  left: 134px;
  top: 391px;
  padding: 21px;

  background: #FFFFFF;
  box-shadow: 5.6px 5.6px 49px rgba(0, 0, 0, 0.1) !important;
  border-radius: 12px !important;

  .image-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1.2;
    //background-color: palegreen;
    //position: absolute;
    width: 109.2px;
    height: 112px;
    left: 154.4px;
    top: 412px;

    border-radius: 16px;
  }

  .content-container {
    flex: 3;
    //background-color: lightgoldenrodyellow;
    margin-left: 6%;
    width: 109.2px;
    height: 112px;
    left: 154.4px;
    top: 412px;
    border-radius: 16px;
    padding-top: 3%;

    .patient-name {
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: -0.5880004167556763px;
      text-align: left;
      color: #1B1B1B;
    }

    .purpose-info {
      color: #1B1B1B;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 17px;
      letter-spacing: -0.5880004167556763px;
      text-align: left;
    }

    .time-info {
      color: rgba(27, 27, 27, 0.5);
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 17px;
      letter-spacing: -0.5880004167556763px;
      text-align: left;
      //min-width: 100%;
      //width: 100%;
      //max-width: 100%;
    }

    .status-info {
      position: relative;
      top: -8px;
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 15px;
      letter-spacing: -0.5880004167556763px;
      text-align: center;
      color: #F6921E;
    }
  }
}

.calendar-container {
  flex-direction: row;
  display: flex;
  align-items: center;

  .react-datepicker-wrapper {
    padding-left: 0px !important;
    box-sizing: initial;

    input {
      border: none;
    }
  }
}

.calender-date-upcoming {
  font-family: Montserrat;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.420000284910202px;
  text-align: center;
  align-items: center;
}

.appointment-calendar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 20px;
}
.appointment-calendar-image-icon {
  img{
    margin-left: 10px !important;
  }
}

//@media only screen and (max-width: 414px) {
//  .appointment-calendar-container {
//    display: flex;
//    flex-direction: row;
//    justify-content: space-between;
//    align-items: baseline;
//    margin-left: unset;
//    flex-wrap: wrap;
//  }
//}


.appointment-detail-card-container{
  margin-bottom: 2%;
  display: flex;
  width: 100%;
  max-width: 100%;
  //max-height: 154px;
  left: 134px;
  top: 391px;
  padding: 21px;

  background: #FFFFFF!important;
  box-shadow: 5.6px 5.6px 49px rgba(0, 0, 0, 0.1) !important;
  border-radius: 12px !important;
  flex-wrap: wrap;

  .image-container{
    flex:1;
    display: flex;
    align-items: center;
    overflow: hidden;
    min-width: 160px;
    min-height: 160px;
    max-height: 230px;
    max-width: 230px;
    img {
      flex-shrink: 0;
      min-width: 100%;
      min-height: 100%;
      width: 100%;
      height: 100%;
    }
  }

  .detail-container{
    flex:4;
    margin-left: 6%;
    .field-container{
      display: flex;
      flex-direction: row;
      margin-top: 2%;
    }
    .view-report-button {
      position: inherit;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 17px;
      letter-spacing: -0.420000284910202px;
      text-align: center;
      width: 150px;
      height: 40px;
      background: #28A3DA;
      border-radius: 6px!important;
    }

    .patient-name{
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 29px;
      letter-spacing: -0.5880004167556763px;
      text-align: left;
      color: #1B1B1B;

    }
    .field-title{
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: -0.420000284910202px;
      text-align: left;
      color: #1B1B1B;
    }
    .field-description{
      margin-left: 8px;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: -0.420000284910202px;
      text-align: left;
      color: #8F8F8F;

    }
    .button-text{
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 17px;
      letter-spacing: -0.420000284910202px;
      text-align: center;
      color: #FFFFFF;
    }
  }
}

.row-add-doctor{
  background-color: #FFFFFF;
  box-shadow: 5.6px 5.6px 49px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 50px;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 4%;
  padding-right: 4%;
}
.row-add-doctor-text{
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.420000284910202px;
  text-align: left;
  color: #1B1B1B;
}

.initiate-call-button-container{
  height: 51.25px;
  width: 335px;
  border-radius: 8px!important;
  color: #FFFFFF;
  background: #28A3DA!important;
  position: inherit;

  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.30000001192092896px;
  text-align: center;

}


/**
  Report Card
 */
.report-container{
  height: 136px;
  //width: 728px;
  left: 174px;
  top: 207px;
  background: #FFFFFF;
  box-shadow: 4px 4px 35px rgba(0, 0, 0, 0.1);
  border-radius: 12px!important;;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  .report-name{
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.420000284910202px;
    text-align: center;
    color: #1B1B1B;
  }
  .report-date-info{
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.420000284910202px;
    text-align: left;
    color:rgba(27, 27, 27, 0.5);
  }
  .report-view-button{
    height: 32px;
    width: 121px;
    left: 741px;
    top: 421px;
    border-radius: 8px!important;


    color: #FFFFFF;
    background: #28A3DA!important;
    position: inherit;

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.30000001192092896px;
    text-align: center;
  }
}


/**
  Media queries
 */
  @media screen and (max-width: 425px) {
    .view-report-button {
      width: auto;
      height: 40px;
    }
  .appointment-detail-card-container{
    display: block;

    .detail-container{
      margin-top: 8%;
    }

    .image-container {
      max-width: 160px;

      img {
        //flex-shrink: 0;
        //min-width: 100%;
        //min-height: 100%;
        //width: 100%;
        //height: 100%;
      }
    }
  }
    .row-add-doctor {
      margin-top: 5%;
      height: 10%;
    }
}
