.edit-doctor-container {
  background: #FFFFFF;
  box-shadow: 4px 4px 35px rgb(0 0 0 / 10%);
  border-radius: 12px;
  padding: 50px;
  margin-top: 70px;
}

.edit-profile-container {
  margin-left: 20px;

  .sub-title {
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.420000284910202px;
    text-align: left;
    color: #1B1B1B;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
  }
  .edit-profile-update-button {
    margin-top: 90px;
  }
}


.profile-left-Column {
  .profile-container {
    display: flex;
    justify-content: center;
    justify-items: center;
  }

  .profile-tile-text {
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.4200002849px;
    text-align: left;
    color: #1B1B1B;
    margin-top: 20px;
    margin-bottom: 20px;
    /* margin-left: 50px; */
    justify-content: center;
    display: flex;
  }

  .doctor-name {
    display: flex;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: -0.30000001192092896px;
    text-align: center;
    color: #1B1B1B;
    justify-content: center;

  }

  .doctor-detail {
    margin-top: 14px;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.30000001192092896px;
    text-align: left;
    color: rgba(27, 27, 27, 0.6)
  }

  .doctor-appointment-count-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .doctor-detail-appointment {
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: -0.33758512139320374px;
    text-align: center;
    color: #1B1B1B;
  }

  .doctor-detail-appointment-count {
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 31px;
    letter-spacing: -0.33758512139320374px;
    text-align: left;
    color: #28A3DA;

  }

}


@media screen and (max-width: 768px) {
  .edit-profile-container {
    margin-left: 24px;


    .sub-title {
      margin-top: 20px;
      margin-bottom: -5px;
    }

  }
  .form-wizard .multistepform-button {
    width: 255px;
  }
}

@media screen and (max-width: 425px) {
  .edit-profile-container {
    margin-left: 19px;
  }
}
