.general_term_container {
  background: #ffffff;
  box-shadow: 4px 4px 35px rgb(0 0 0 / 10%);
  border-radius: 12px;
  padding: 50px;
  margin-top: 70px;
  margin-bottom: 70px;
  margin-right: 40px;
  margin-left: 40px;
  width: 85%;
}
.terms_heading {
  text-align: center;
  margin-top: 2%;
}
