.profile-picture-image {
  width: 208px;
  margin: auto;
  margin-bottom: 24px;

  @media only screen and (max-width: 768px) {
      width: 150px;
  }

  @media only screen and (min-width: 1000px) {
    width: 170px;
  }

  @media only screen and (min-width: 1300px) {
    width: 208px;
  }
}

.profile-picture-text {
  letter-spacing: -0.30000001192092896px;
  text-align: center;
  margin-bottom: 14px;
}

.profile-picture-text-small {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.30000001192092896px;
  text-align: center;
}
