.profile-picture-image {
  width: 208px;
  margin: auto;
  margin-bottom: 24px;
}

.profile-picture-text {
  letter-spacing: -0.30000001192092896px;
  text-align: center;
  margin-bottom: 14px;
}

.profile-picture-text-small {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.30000001192092896px;
  text-align: center;
}
