.update-schedule-container {
  margin-left: 20px;
  margin-right: 20px;
  .section-title {
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    //line-height: 29px;
    margin-top: 10px;
    //margin-bottom: 10px;
  }

  .section-sub-title {
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 24px;
    letter-spacing: 0.30034899711608887px;
    text-align: left;
    color: #000000;
    margin-bottom: 32px;
    margin-right: 18px;
  }

  .H4 {
    font-family: Montserrat;
    height: 24px;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.30034899711608887px;
    text-align: left;
    color: #000000;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-right: 18px;
  }
  .shift-name {
    font-family: Montserrat;
    font-size: 18px;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 500;

    height: 24px;
    font-style: normal;
    letter-spacing: 0.30034899711608887px;
    text-align: left;
    color: #000000;
    line-height: 9px;
  }

  .days-selection-container{
    display: flex;
    flex-flow: row nowrap;
  }

  .days-selection-button{
    height: 55px;
    width: auto;
    max-width: 110px;
    min-width: 110px;
    border-radius: 12px;
    border: 2px solid rgba(27, 27, 27, 0.2);
    margin-right: 10px;
    margin-bottom: 48px;
    background: white;
  }

  .update-button {
    position: inherit;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: -0.420000284910202px;
    text-align: center;
    max-width: 650px;
    height: 40px;
    background: #28A3DA;
    border-radius: 6px !important;
    margin-top: 24px;
    margin-bottom: 34px;
  }
}

.margin-top-bottom{
  margin-top: 40px;
  margin-bottom: 20px;
}

.days-button-auto {
  width: auto !important;
  margin-bottom: 10px !important;
  margin-right: 10px !important;
  height: 55px;
  border-radius: 12px;
  border: 2px solid rgba(27, 27, 27, 0.2);
  margin-right: 10px;
  background: white;
}

.slot-schedule-calender-container {
  display: flex;
  flex-direction: row;

  width: max-content;
  .slot-booking-calendar {
    display: flex;
    flex-direction: row;
    flex: 3;
    .choose-date-slots-container{
      display: flex;
      flex-direction: row;
      align-items: center;
      flex: 3;
      .fa-chevron-left {
        cursor: pointer;
        font-size: 20px;
        padding-right: 51px !important;
        //padding-top: 20px;
      }
      .fa-chevron-right {
        cursor: pointer;
        font-size: 20px;
        //padding-top: 20px;
        padding-left: 45px !important;
      }
      //.slot-timings-button,
      .days-button {
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        //width: auto!important;
        //width: 90px !important;
        //margin-bottom: 10px !important;
        //margin-right: 5px;
      }
      .calendar-days-button {
        //min-height: 55px;
        //width: 160px;
        border-radius: 12px;
        border: 2px solid rgba(27, 27, 27, 0.2);
        background: white;
        margin-right: 10px!important;
      }
    }

    .choose-date-calendar {
      display: flex;
      flex-direction: row;
      //padding-top: 10px;
      flex: 1;
      align-items: center;
      .react-datepicker-wrapper {
        padding-left: 10px !important;

        input {
          width: 100px;
        }


      }
    }
  }
}


@media screen and (max-width: 1024px) {
  .update-schedule-container {
    .days-selection-button{
      height: 40px;
      width: auto;
      max-width: 20%;
      min-width: 10%;
    }
  }
  .slot-schedule-calender-container {
    .slot-booking-calendar {
      flex-direction: row;

      .choose-date-calendar {
      }

      .react-datepicker__input-container {
        padding-left: unset;

        .date-text-icon{
          display: flex;
          flex-direction: row;
          align-items: center;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .update-schedule-container {

  }
  .slot-schedule-calender-container {
    .slot-booking-calendar {
      .react-datepicker__input-container {
        padding-left: 130px;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .update-schedule-container {

    .days-selection-container{
      display: flex;
      flex-flow: row wrap;
    }
    .days-selection-button{
      height: 40px;
      width: auto;
      //max-width: 20%;
      min-width: 105px;
    }
  }
  .slot-schedule-calender-container {
    .slot-booking-calendar {
      flex-direction: column-reverse !important;

      .choose-date-calendar {
        padding-top: unset !important;
        margin-bottom: 10px;
      }

      .react-datepicker__input-container {
        padding-left: 30px;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .update-schedule-container {

  }
  .slot-schedule-calender-container {
    .slot-booking-calendar {
      flex-direction: column-reverse !important;

      .fa-calendar-alt-slot {
        width: 30px;
        height: 26px;
      }

      .choose-date-calendar {
        padding-top: unset !important;
        margin-bottom: 10px;
      }

      .react-datepicker__input-container {
        padding-left: 20px;
      }
    }
  }
}
