// on top of patient css

.doctor-meeting-page-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .doctor-meeting-page-video-container {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 160px;

    .meeting-video {
      display: flex;
      width: 430px;
      //width: 100%;
      height: 100%;
    }

    .doctor-meeting-page-help {
      font-family: Montserrat;
      font-size: 16px !important;
      font-style: normal;
      font-weight: 500 !important;
      line-height: 20px !important;
      letter-spacing: -0.30000001192092896px;
      text-align: center;
      //margin-top: 146px;
    }
    .doctor-meeting-need-help-button {
      height: 24px;
      width: 24px;
    }
  }

  .doctor-meeting-page-column-content {
    margin-top: 40px;
    //margin-left: 160px;
    .meeting-testing-button-container {
      display: flex;
      flex-direction: column;

      .testing-icon {
        margin-right: 16px;
      }
      .testing-button {
        text-align: left;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: -0.30000001192092896px;
        background: white;
        height: 66px;
        width: 444px;
        left: 790px;
        top: 275px;
        border-radius: 6px;
        border: 2px solid #c4c4c4;
        box-sizing: border-box;
        color: #1b1b1b;
      }
    }
    .meeting-with-text {
      font-family: Montserrat;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -0.8941941261291504px;
      text-align: center;
      color: #8d8d8d;
    }
    .patient-name {
      margin-top: 50px;
      word-break: break-all;
      margin-bottom: 24px;
      font-family: Montserrat;
      font-size: 38px;
      font-style: normal;
      font-weight: 600;
      line-height: 47px;
      letter-spacing: -0.8941941261291504px;
      //text-align: center;
      color: #1b1b1b;
    }
    .patient-description {
      font-family: Montserrat;
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
      line-height: 31px;
      letter-spacing: -0.8941941261291504px;
      text-align: left;
    }
    .patient-description-title {
      color: rgba(27, 27, 27, 0.5);
    }
    .patient-description-detail {
      color: #000000;
    }
    .doctor-meeting-cancel-container {
      align-content: center;
      display: flex;
      justify-content: center;
    }
    .doctor-meeting-cancel-button {
      margin-top: 2%;
      margin-bottom: 20px;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: -0.420000284910202px;
      text-align: center;
      color: #f15d4a;
      border: none;
      background: white;
    }
    .doctor-meeting-button-container {
      display: flex;
      flex-direction: row;
      margin-top: 60px;
      margin-bottom: 60px;

      .doctor-meeting-test-button {
        height: 59px;
        width: 206px;
        border-radius: 6px;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: -0.30000001192092896px;
        text-align: center;
        color: #28a3da;
        border: 1px solid rgba(40, 163, 218, 1);
        background: white;
      }

      .doctor-meeting-join-meeting-button {
        height: 59px;
        width: 206px;
        border-radius: 6px;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: -0.30000001192092896px;
        text-align: center;
        border: 1px solid rgba(40, 163, 218, 1);
        background: #28a3da;
        //margin-left: 32px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .doctor-meeting-page-column-content {
    margin-top: 40px !important;
    //margin-left: 40px !important;
  }
  .doctor-meeting-page-video-container {
    margin-right: 40px !important;
  }
  .doctor-meeting-page-help {
    margin-top: 40px !important;
  }
}
@media screen and (max-width: 768px) {
  .doctor-meeting-page-column-content {
    margin-top: 40px !important;
    //margin-left: 60px !important;
  }
  .doctor-meeting-page-video-container {
    margin-right: 60px !important;
  }
}

@media screen and (max-width: 425px) {
  .doctor-meeting-page-video-container {
    .meeting-video {
      width: 85% !important;
    }
  }
  .meeting-video {
    margin-top: 100px;
  }
  .back-nav-container {
    margin-top: 35px;
  }

  .doctor-meeting-page-column-content {
    margin-top: 40px !important;
    //margin-left: 60px !important;
  }
  .doctor-meeting-page-video-container {
    margin-right: 60px !important;
  }
  .doctor-meeting-button-container {
    margin-top: 60px;
    margin-bottom: 60px;

    .doctor-meeting-test-button {
      height: auto !important;
      width: 136px !important;
    }

    .doctor-meeting-join-meeting-button {
      height: 59px !important;
      width: 106px !important;
      margin-left: 32px;
    }
  }
  .doctor-meeting-page-container
    .doctor-meeting-page-column-content
    .meeting-testing-button-container
    .testing-button {
    width: auto !important;
  }
}
